exportPattern("^[[:alnum:]]+")

importFrom(creahelpers,get_yoy)
importFrom(creahelpers,expand_dates)
importFrom(countrycode,countrycode)

importFrom(cowplot,plot_grid)

importFrom(directlabels,geom_dl)

importFrom(dplyr,all_vars)
importFrom(dplyr,across)
importFrom(dplyr,any_vars)
importFrom(dplyr,arrange)
importFrom(dplyr,as_tibble)
importFrom(dplyr,bind_rows)
importFrom(dplyr,bind_cols)
importFrom(dplyr,case_when)
importFrom(dplyr,collect)
importFrom(dplyr,distinct)
importFrom(dplyr,do)
importFrom(dplyr,everything)
importFrom(dplyr,filter)
importFrom(dplyr,filter_at)
importFrom(dplyr,full_join)
importFrom(dplyr,group_by)
importFrom(dplyr,group_by_at)
importFrom(dplyr,group_split)
importFrom(dplyr,group_map)
importFrom(dplyr,group_modify)
importFrom(dplyr,inner_join)
importFrom(dplyr,is.grouped_df)
importFrom(dplyr,lag)
importFrom(dplyr,lead)
importFrom(dplyr,left_join)
importFrom(dplyr,right_join)
importFrom(dplyr,mutate)
importFrom(dplyr,mutate_all)
importFrom(dplyr,mutate_at)
importFrom(dplyr,mutate_if)
importFrom(dplyr,n)
importFrom(dplyr,pull)
importFrom(dplyr,recode)
importFrom(dplyr,rename)
importFrom(dplyr,reframe)
importFrom(dplyr,rowwise)
importFrom(dplyr,select)
importFrom(dplyr,slice)
importFrom(dplyr,slice_max)
importFrom(dplyr,slice_tail)
importFrom(dplyr,select_if)
importFrom(dplyr,summarise)
importFrom(dplyr,summarise_at)
importFrom(dplyr,summarise_all)
importFrom(dplyr,tibble)
importFrom(dplyr,top_n)
importFrom(dplyr,ungroup)
importFrom(dplyr,vars)
importFrom(dplyr, group_modify)
importFrom(dplyr,"%>%")

importFrom(glue,glue)

importFrom(grid,gpar)
importFrom(grid,textGrob)
importFrom(grid,unit.c)
importFrom(grid,grobHeight)
importFrom(gridExtra,grid.arrange)

importFrom(lubridate,"hour<-")
importFrom(lubridate,"day<-")
importFrom(lubridate,"year<-")
importFrom(lubridate,date)
importFrom(lubridate,day)
importFrom(lubridate,days)
importFrom(lubridate,days_in_month)
importFrom(lubridate,is.Date)
importFrom(lubridate,is.POSIXt)
importFrom(lubridate,wday)
importFrom(lubridate,today)
importFrom(lubridate,hour)
importFrom(lubridate,month)
importFrom(lubridate,year)
importFrom(lubridate,mdy)
importFrom(lubridate,ymd)
importFrom(lubridate,ymd_h)
importFrom(lubridate,is.POSIXt)

importFrom(magrittr,"%<>%")
importFrom(magrittr,"%T>%")
importFrom(magrittr,add)
importFrom(magrittr,use_series)
importFrom(magrittr,subtract)
importFrom(magrittr,set_names)
importFrom(magrittr,equals)
importFrom(magrittr,not)


importFrom(openxlsx,read.xlsx)

importFrom(readr, read_csv)
importFrom(readr, write_csv)
importFrom(readr, write_excel_csv)

importFrom(readxl,read_xlsx)

importFrom(tidyr,nesting)
importFrom(tidyr,pivot_longer)
importFrom(tidyr,separate)
importFrom(tidyr,gather)
importFrom(tidyr,spread)
importFrom(tidyr,replace_na)
importFrom(tidyr,unite)

